{{ define "main" }}
<main>
  <article>
    <header>
        <h1>{{.Title}}</h1>
    </header>
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    {{.Content}}
  </article>
  <ul>
  <!-- Ranges through content/posts/*.md -->
  {{ range .Pages }}
    {{ .Render "li"}}
  {{ end }}
  </ul>
</main>
{{ end }}